/* Fonts */
@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v19-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v19-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/roboto-v30-latin-100.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/roboto-v30-latin-100italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v30-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/roboto-v30-latin-300italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-latin-900.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/roboto-v30-latin-900italic.woff2") format("woff2");
}
:root {
  --color-brand: #2b7fff;
  --primary-light: #ffffff;
  --primary-dark: #011c44;
  --secondary-light: #747272;
  --secondary-medium-dark: #4a4a4a;
  --secondary-dark: #011f4a;
}

/* Base */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--primary-dark);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
}
.container {
  width: 100%;
  max-width: 1240px;
  padding: 0 24px;
  margin: 0 auto;
}

/* Link */
.header-link {
  color: var(--primary-dark);
  text-decoration: none;
}
.header-link:hover {
  color: var(--color-brand);
  text-decoration: underline;
}

/* Header */
header {
  background-color: silver; /* remove */
}
.header-nav {
  display: flex;
  height: 106px;
  justify-content: space-around;
  align-items: center;
}

.header-menu {
  display: flex;
  gap: 56px;
}
.header-icons {
  display: flex;
  gap: 32px;
}
.address-icon {
  fill: var(--primary-light);
}
.address-icon:hover {
  fill: var(--color-brand);
}

/* Hero section */
.hero {
  background-image: url("../images/background-hero-section.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero h1 {
  padding-bottom: 40px;
  color: var(--color-brand);
  font-family: "Play", sans-serif;
  font-size: 140px;
  font-weight: 700;
  line-height: 114px;
  text-transform: capitalize;
}
.hero-container {
  width: 650px;
  height: 440px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Button */
.button {
  width: 220px;
  height: 53px;
  padding: 16px 32px;
  margin-bottom: 14px;
  color: var(--primary-light);
  font-weight: 600;
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  border-radius: 32px;
}
.button:hover {
  color: var(--primary-dark);
  background-color: var(--primary-light);
}
.button-text {
  margin-left: 10px;
  color: var(--secondary-medium-dark);
  font-size: 12px;
  line-height: 18px;
}

/* Clinic info section */
.clinic-info-title {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 74.05px;
  padding-bottom: 40px;
}
.clinic-info-title span {
  color: var(--color-brand);
  text-transform: capitalize;
}
.clinic-info-text {
  font-size: 22px;
  line-height: 38px;
  padding-bottom: 40px;
}
.clinic-info-text span {
  font-weight: 600;
  text-transform: capitalize;
}
.clinic-info-container {
  display: flex;
  gap: 32px;
  padding-top: 100px;
  padding-bottom: 88px;
}
.clinic-info-data {
  width: 710px;
  height: 700px;
  padding-top: 40px;
}
.clinic-info-photo {
  width: 500px;
  height: 710px;
}
.clinic-info-photo-02 {
  margin: 40px 0 0 170px;
}

/* Advantages section */
.advantages-title {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 74.05px;
  width: 450px;
  height: 170px;
  padding-bottom: 24px;
  margin: 0;
  text-align: center;
}
.advantages-title span {
  color: var(--color-brand);
}
.advantages-text {
  line-height: 24px;
  display: flex;
  gap: 56px;
  margin-top: 0;
  padding-top: 24px;
  margin-bottom: 48px;
}
.advantages-container {
  display: flex;
  padding-top: 88px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.advantages-card {
  width: 320px;
  height: 180px;
  border: 1px solid black;
  border-radius: 32px;
  text-align: center;
  flex-wrap: wrap;
}
.advantages-icon {
  margin-top: 30px;
  fill: var(--color-brand);
}
.advantages-icon-second {
  margin-top: 25px;
  fill: var(--color-brand);
}

/* Procedures section */
.procedures-container {
  display: flex;
  align-items: center;
  gap: 32px;
}
.procedures-list {
  display: flex;
  gap: 16px;
  margin-top: 0;
  margin-bottom: 32px;
  padding: 0;
}
.procedures-title {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 74.05px;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 48px;
}
.procedures-title span {
  color: var(--color-brand);
}

/* Carousel */
.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--primary-dark);
  cursor: pointer;
}
.carousel-arrow {
  fill: var(--primary-dark);
}
.carousel-button:hover {
  background-color: var(--color-brand);
}
.carousel-button:hover .carousel-arrow {
  fill: var(--primary-light);
}

/* Contacts section */
.contacts-container {
  display: flex;
  gap: 32px;
}
.contacts-title {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 74.05px;
  text-align: center;
  padding-top: 48px;
  padding-bottom: 48px;
  margin: 0;
}
.contacts-title span {
  color: var(--color-brand);
}
.contact-map {
  flex-shrink: 0;
  border: none;
  border-radius: 16px;
  margin-left: 70px;
  margin-bottom: 94px;
}

/* Footer */
footer {
  padding: 56px 100px;
  background-color: var(--secondary-dark);
}
.footer-container {
  display: flex;
  gap: 20px;
}
.footer-nav {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}
.footer-logo {
  flex-grow: 1;
}
.footer-menu {
  margin: 0;
  flex-grow: 1;
}
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}
.footer-link {
  color: var(--primary-light);
  line-height: 18.75px;
  text-decoration: none;
}
.footer-link:hover {
  color: var(--color-brand);
  text-decoration: underline;
}
.address-list {
  margin: 0;
  flex-grow: 1;
}
.address-info {
  flex-grow: 1;
}
.address-link {
  font-style: normal;
  color: var(--primary-light);
  font-size: 16px;
  line-height: 18.75px;
  text-decoration: none;
}
.address-link:hover {
  color: var(--color-brand);
  text-decoration: underline;
}
.address-copyright {
  color: var(--secondary-light);
  font-size: 13px;
  line-height: 15.23px;
  font-style: normal;
}
